body {
    background-color: lightgoldenrodyellow;
}
h1 {
    color: darkblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    text-align: center;
}
p.good {
    border: 2px solid black;
    color: darkblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px;
    margin: 50px;
    font-size: 30px;
}
p.bad {
    border: 2px solid black;
    color: white;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    margin: 50px;
    font-size: 30px;
}